.follower_profile{
   text-align: center;
   border: 4px solid rgb(4, 207, 38);
   background-color: rgb(226, 224, 224);

}

.follower_profile img {
    text-align: center;
    display: inline-block;
    width: 100%;
}
.col_cont{
    padding: 14px 0 0 0 ;
}
.follower_button{
    width: 100%;
    background: rgb(226, 224, 224);
}